<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bird Classifier</title>
</head>

<body>
<h1> Bird Species Classifier </h1>
    <p>Ever had trouble distinguishing a parrot from a flamingo? I know how hard that can be. But you're in luck! This tool can do it for you! Our transfer learning ResNet18 model can classify images of birds from 21 species with 99% accuracy. The 21 species are listed below.</p>
    
	<p>Upload a jpg image with the bird cropped to occupy at least 50% of the image for maximum accuracy. It must be a jpg for now.</p>


<h2>Upload new File</h2>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    
<br>

'ALBATROSS', 'AMERICAN GOLDFINCH', 'AMERICAN KESTREL', 'BALTIMORE ORIOLE', 'BIRD OF PARADISE', 'BLUE HERON', 'CALIFORNIA CONDOR', 'CALIFORNIA QUAIL', 'EMPEROR PENGUIN', 'GOLDEN PHEASANT', 'HOUSE SPARROW', 'HYACINTH MACAW', 'MANDRIN DUCK', 'NORTHERN CARDINAL', 'OSTRICH', 'ROBIN', 'RUBY THROATED HUMMINGBIRD', 'SCARLET IBIS', 'SPOONBILL', 'TOUCHAN', 'YELLOW HEADED BLACKBIRD'

</body>
</html>